## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Vaini,-21.2000,-175.2000,69.96,88,75,10.36,TO,broken clouds
1,1,Hermanus,-34.4187,19.2345,57.79,59,76,9.04,ZA,broken clouds
2,2,Alice Springs,-23.7000,133.8833,42.35,56,0,0.00,AU,clear sky
3,3,Busselton,-33.6500,115.3333,56.88,67,73,5.06,AU,broken clouds
4,4,Jamestown,42.0970,-79.2353,81.99,56,0,3.44,US,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
max_temp = float(input("What is the maximum temperature that you would like?"))
min_temp = float(input("What is the minimum temperature that you would like? "))

What is the maximum temperature that you would like?90
What is the minimum temperature that you would like? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_city_df=city_data_df.loc[(city_data_df['Max Temp'] <= max_temp ) &\
                                  (city_data_df['Max Temp'] >= min_temp)].dropna()


preferred_city_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
4,4,Jamestown,42.0970,-79.2353,81.99,56,0,3.44,US,clear sky
5,5,Coruripe,-10.1256,-36.1756,76.57,74,25,15.82,BR,scattered clouds
7,7,Praya,14.9215,-23.5087,77.54,88,75,13.80,CV,light intensity drizzle
9,9,Rikitea,-23.1203,-134.9692,73.38,75,46,12.82,PF,scattered clouds
11,11,Luena,-11.7833,19.9167,84.90,10,15,8.21,AO,few clouds
12,12,Havre-Saint-Pierre,50.2334,-63.5986,73.76,68,0,9.22,CA,clear sky
13,13,Komsomolskiy,40.4272,71.7189,81.32,18,24,4.61,UZ,few clouds
14,14,Chiriqui Grande,8.9500,-82.1167,83.64,70,12,3.80,PA,few clouds
15,15,Soyo,-6.1349,12.3689,74.12,70,25,10.74,AO,scattered clouds
17,17,Butaritari,3.0707,172.7902,80.37,75,20,5.46,KI,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_city_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Weather Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

## I did this back in step 3 by adding the dropna to the end of the min/max code

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_city_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Jamestown,US,81.99,clear sky,42.0970,-79.2353,
5,Coruripe,BR,76.57,scattered clouds,-10.1256,-36.1756,
7,Praya,CV,77.54,light intensity drizzle,14.9215,-23.5087,
9,Rikitea,PF,73.38,scattered clouds,-23.1203,-134.9692,
11,Luena,AO,84.90,few clouds,-11.7833,19.9167,
12,Havre-Saint-Pierre,CA,73.76,clear sky,50.2334,-63.5986,
13,Komsomolskiy,UZ,81.32,few clouds,40.4272,71.7189,
14,Chiriqui Grande,PA,83.64,few clouds,8.9500,-82.1167,
15,Soyo,AO,74.12,scattered clouds,-6.1349,12.3689,
17,Butaritari,KI,80.37,moderate rain,3.0707,172.7902,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location":""
}

# 6b. Iterate through the hotel DataFrame.
print('Searching for hotels that match your criteria')
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat=row['Lat']
    lng=row['Lng']
    
    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print(f"No hotels nearby... skipping.")
        pass
print("Search complete")

Searching for hotels that match your criteria
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
No hotels nearby... skipping.
Search complete

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df=hotel_df.dropna()


hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Jamestown,US,81.99,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,Coruripe,BR,76.57,scattered clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
7,Praya,CV,77.54,light intensity drizzle,14.9215,-23.5087,LT Aparthotel
9,Rikitea,PF,73.38,scattered clouds,-23.1203,-134.9692,People ThankYou
11,Luena,AO,84.90,few clouds,-11.7833,19.9167,Hotel Kandamba
...,...,...,...,...,...,...,...
687,Shubarkuduk,KZ,71.83,broken clouds,49.1447,56.4872,Sirius
688,Mount Pleasant,US,86.05,scattered clouds,32.7941,-79.8626,Best Western Patriots Point
689,Wenzhou,CN,86.40,overcast clouds,27.9994,120.6668,温州喜来登酒店
690,Bensonville,LR,76.55,light rain,6.4461,-10.6125,Moinga
691,Amnat Charoen,TH,72.28,light rain,15.9167,104.7500,หอพักนักศึกษา

In [18]:
# 8a. Create the output File (CSV)
output_file="weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)




# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))